


  <a href='/rock'>Play Rock</a><br>
  <a href='/paper'>Play Paper</a><br>
  <a href='/scissors'>Play Scissors</a>
  <h1>Rock Paper Scissors Game!</h1>
  <p>Rock-paper-scissors (also known as paper, scissors, stone or other variants) is a hand game usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand.</p>
  <p>These shapes are:</p>
  <ul>
    <li>'rock' (a closed fist)</li>
    <li>'paper' (a flat hand)</li>
    <li>'scissors' (a fist with the index and middle fingers extended, forming a V)</li>
  </ul>
  <p>A player who decides to play rock will beat another player who has chosen scissors ('rock crushes scissors' or sometimes 'blunts scissors'), but will lose to one who has played paper ('paper covers rock'); a play of paper will lose to a play of scissors ('scissors cuts paper'). If both players choose the same shape, the game is tied and is usually immediately replayed to break the tie.</p>
  <p>Originating from China and Japan, other names for the game in the English-speaking world include roshambo and other orderings of the three items, with 'rock' sometimes being called 'stone'.</p>
  <li>Originating from China and Japan, other names for the game in the English-speaking world include roshambo and other orderings of the three items, with "rock" sometimes being called "stone".</li>
  <img src="images/app1.jpg,"Picture1">
  <li>A chart showing how the three game elements interact</li>
  <img src="images/app2.jpg,"Picture2">
  <li>Kitsune-ken was a popular Japanese rock–paper–scissors variant.</li>
  <img src="images/app3.jpg,"Picture3">
  <li>Mushi-ken, the earliest Japanese sansukumi-ken game (1809). From left to right: slug (namekuji), frog (kawazu) and snake (hebi).</li>
<p>
